.aboutus-1 {
  background-color: rgba(58, 121, 244, 0.2);
  height: 40.5rem;
  padding: 10% 0% 0% 8%
}

.row-1 {
  margin: 0%;
}

.aboutus-1 h5 {
  font-weight: normal !important;
  font-size: 28px;
  color: #F8384F;
}

.aboutus-1 h1 {
  font-family: Tomorrow;
  font-weight: bold;
  font-size: 41px;
  color: #454545;
}

.aboutus-1 h4 {
  font-family: Tomorrow;
  font-weight: 400 !important;
  font-size: 36px;
  color: #454545;
}

.aboutus-2 {
  background-color: #FFFFFF;
}

@media only screen and (max-width: 576px) {
  .aboutus-1 {
    padding-top: 50%;
  }
  .aboutus-2 {
    padding: 0%;
  }
}