/*navbar*/
.navbar-container {
  padding-top: 1.25rem !important;
} 

.nav-modal {
 
}

#enquiry-form {
  padding: 1rem !important;
  padding-right: 0 !important;
  font-family: Ropa Sans !important;
}

#enquiry-form h3{

}

#enquiry-form .form-control {
  background-color: transparent !important;
  color: var(--bs-light) !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 3px solid var(--secondary-color) !important;
}

#enquiry-form .form-control:focus {
  box-shadow: none !important;
}

#enquiry-form .form-control::placeholder {
  color: var(--bs-light) !important;
}

#enquiry-form .btn {
  background-color: var(--secondary-color) !important;
  border-radius: 0 !important;
}

.nav-icon{
  color: var(--primary-color)!important;
  padding: 0.5rem !important;
}
  
.nav-icon i{
  padding-right: 1rem !important;
}

.bgimg{
  background-image: url('../images/background_img.jpg') !important;
  background-position: center center !important;
  background-size: cover !important;
  width: 100% !important;
  height: 120vh !important;
  clip-path: polygon(0 0, 0 100%, 100% calc(100% - 0.15*100vw), 100% 0);   
}

.helpy,.moto {
  font-family: 'Ropa Sans', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 10rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 3px var(--bs-light) !important;
  padding: 1rem !important;
}


.bgimg h2{
  font-family: 'Tomorrow', sans-serif;
  font-style: normal;
  font-size: 60px;
  line-height: 72px;
  color: var(--secondary-color);
}

.bgimg h3{
  font-family: 'Tomorrow', sans-serif;
  font-size: 30px;
  line-height: 43px;
  color: var(--secondary-color);
}

.btn-reachus{
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: bold;
  font-family: sans-serif;
}

.btn-reachus:focus{
  opacity: 0.7 !important;
  box-shadow: none !important;
}

.btn-signup{
  color:var(--secondary-color);
  background-color: var(--primary-color);
}

.btn-signup:hover{
  color: var(--secondary-color);
}

.btn-reachus:hover{
  color: var(--primary-color);
}
 
.topnav a {
  color: var(--bs-dark);
  text-decoration: none;
  font-size: 1.25rem !important;
  display: block; 
  text-transform: uppercase !important;
  padding: 0.5rem !important;
}
  
.topnav a.icon {
  display: block;
}

.fa { 
  margin-right: 2.81rem;
  -webkit-font-smoothing: antialiased;
  margin-top: 1.06rem;
}

@media (max-width: 576px){
  .navbar-container .navbar-brand {
    display: inline-block !important;
    flex-basis: 60% !important;
  }

  .btn-signup,.btn-bars {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    border-radius: 0.2rem !important;
  }

  .helpy,.moto {
    font-size: 4rem !important;
    position: static !important;
    padding: 0 !important;
    -webkit-text-stroke: 3px var(--bs-light) !important;
  }
}    

@media (max-width: 768px){
  .helpy,.moto {
    font-size: 7rem !important;
    position: static !important;
    -webkit-text-stroke: 2px var(--bs-light) !important;
  }
}

@media (max-width: 992px){

}