.navbar-container {
  padding-top: 1.25rem !important;
} 

.nav-modal {
 
}

.btn-signup{
  color:var(--secondary-color);
  background-color: var(--primary-color);
}

.btn-signup:hover{
  color: var(--secondary-color);
}

#enquiry-form {
  padding: 1rem !important;
  padding-right: 0 !important;
  font-family: Ropa Sans !important;
}

#enquiry-form h3{

}

#enquiry-form .form-control {
  background-color: transparent !important;
  color: var(--bs-light) !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 3px solid var(--secondary-color) !important;
}

#enquiry-form .form-control:focus {
  box-shadow: none !important;
}

#enquiry-form .form-control::placeholder {
  color: var(--bs-light) !important;
}

#enquiry-form .btn {
  background-color: var(--secondary-color) !important;
  border-radius: 0 !important;
}

.nav-icon{
  color: var(--primary-color)!important;
  padding: 0.5rem !important;
}
  
.nav-icon i{
  padding-right: 1rem !important;
}

.topnav a {
  color: var(--bs-dark);
  text-decoration: none;
  font-size: 1.25rem !important;
  display: block; 
  text-transform: uppercase !important;
  padding: 0.5rem !important;
}
  
.topnav a.icon {
  display: block;
}

.navbar .fa { 
  margin-right: 2.81rem;
  -webkit-font-smoothing: antialiased;
  margin-top: 1.06rem;
}

@media (max-width: 576px){
  .navbar-container .navbar-brand {
    display: inline-block !important;
    flex-basis: 60% !important;
  }

  .btn-signup,.btn-bars {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    border-radius: 0.2rem !important;
  }
}    

@media (max-width: 768px){

}

@media (max-width: 992px){

}