#credit-card{
    margin: 50px 0;
}


/* Outer Box */
#payment{
    width: 330px;

    padding: 1rem 2rem;
}


/* All Inputes and their labels */
.form .card-element{
    margin: 2rem 0;
}

/* lables */
.form .lable{
    margin: 6px;

    font-size: 1.4rem;
    line-height: 35px;
}

/* inputes */
.form .input{
    padding: 8px 43px 8px 11px;

    font-size: 1.1rem;
}

/* icons */
.form .icon-relative .far,
.form .icon-relative .fas{
    width: 40px;
    height: 40px;

    left: 232px;
    bottom: -6px;

    font-size: 22px;
}

/* Button */
.btn{
    padding: 12px;

    width: 330px;

    font-size: 22px;
}