/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}


#credit-card{
    display: flex;
    flex-direction: column;
    
    margin: 100px 0;
    
    align-items: center;
    justify-content: center;
}

/* Outer Box */
#payment{
    width: 707px;
    
    padding: 2.5rem 5rem;
    
    border-radius: 9px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    
    background: #FFFFFF;
}

/* Rs. 1000 */
.heading{
    text-align: center;

    margin-bottom: 34px;

    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #4A74B8;
}


/* All Inputes and their labels */
.form .card-element{
    margin-bottom: 3.375rem;
}

/* lables */
.form .lable{
    display: block;

    margin: 6px;

    font-style: normal;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 35px;

    color: #5A5A5A;
}

/* inputes */
.form .input{
    padding: 20px 60px 20px 25px;
    width: 100%;

    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
    letter-spacing: 1px;

    color: #555555;

    border-radius: 10px;
    border: 1px solid #757575;
    background: #FFFFFF;

    outline: none;
}

/* icons */
.form .icon-relative{
    position: relative;
}

.form .icon-relative .far,
.form .icon-relative .fas{
    position: absolute;

    width: 40px;
    height: 40px;

    left: 500px;
    bottom: 9px;

    font-size: 28px;
    color: #555555;

    cursor: pointer;
}

#lock-close{
    display: none;
}

::placeholder{
    font-weight: 100;

    color: #C2C2C2; 
}


/* OTP */
#otp-input{
    width: 100%;

    margin-bottom: 2rem;

    display: flex;

    align-items: center;
    justify-content: center;
}

#otp-input .otp-box{
    box-sizing: border-box;

    width: 72px;

    padding: 20px 0;
    margin: 0 2.75rem;

    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
    letter-spacing: 1px;

    text-align: center;

    color: #555555;

    border-radius: 10px;
    border: 1px solid #757575;
    background: #FFFFFF;

    outline: none;
}


/* Button */
#button{
    text-align: center;
}

.btn{    
    padding: 18px 115px;
    margin: 10px auto;

    width: 294px;

    border: none;
    cursor: pointer;

    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    
    background: #4A74B8;
    border-radius: 8px;

    text-align: center;
    color: #FFFFFF;
}