/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

/* body{
    background: #E5E5E5;
} */

#credit-card{
    display: flex;
    flex-direction: column;

    margin: 100px 0;

    align-items: center;
    justify-content: center;
}


#payment{
    width: 707px;
    
    padding: 2.5rem 5rem;

    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    background: #FFFFFF;
}

.form .card-element{
    margin: 3.375rem 0;
}

.form .lable{
    display: block;

    margin: 6px;

    font-style: normal;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 35px;

    color: #5A5A5A;
}

.form .input{
    padding: 20px 60px 20px 25px;
    width: 100%;

    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
    letter-spacing: 1px;

    color: #555555;

    border-radius: 10px;
    border: 1px solid #757575;
    background: #FFFFFF;

    outline: none;
}

.form .icon-relative{
    position: relative;
}

.form .icon-relative .far,
.form .icon-relative .fas{
    position: absolute;

    width: 40px;
    height: 40px;

    left: 500px;
    bottom: 9px;

    font-size: 28px;
    color: #555555;
}

::placeholder{
    font-weight: 100;

    color: #C2C2C2; 
}

.btn{
    padding: 28px;

    width: 707px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    text-align: center;
    color: #FFFFFF;

    background: #4A74B8;
}