:root {
    --primary-color:  #557CBC!important;
    --secondary-color: #ffffff !important;
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}







*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}





.subscribe-heading {
 
    display: flex;
  
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    top: 50%;
    left: -12%;
    margin: auto;
    position: absolute;
    color: #454545;
    transform: rotate(-90deg);
}

#subscribe{
  padding: 8% 0% 0% 10%;
}

.card-sub{
  height: 32rem;
  background-color: #F8384F;
  width: 22rem;
}






@media only screen and  (max-width: 768px){

    .brand {
         flex-basis: 60% !important;
     }
     .card-sub{
       margin-bottom: 5%;
       width: 20rem;
      
     }
     .subscribe-heading{
      display: flex;
      left: 0%;
      top: 0%;
      width: 80%;
      left: 0%;
      margin: 2% auto;
      padding: 1% 3%;
      transform: rotate(0deg);
      text-align: center;
      position: relative;
      justify-content: center;

     
  }
  #subscribe {
    padding: 0%;
    justify-content: center;
    padding-top: 7%;
  }
  
  .subscribe-heading h1{
    text-align: center;
  }
    }


    